.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.yellow{
    width: 25%;
    height: 60vh;
    background-color: blanchedalmond;
  padding: 10px;
}
.green{
    width: 25%;
    height: 60vh;
    background-color: rgb(24, 163, 110);
    padding: 10px;
}
.f{
    border-radius: 50%;
    border: black 2px;
}
.cont{
    color: white;
    text-decoration: cadetblue dashed;
    justify-content: end;
    display: flex;
    border: cadetblue;
    border-radius: 10px;
    background-color:cadetblue;
    width: 20%;
    padding: 3px;

}
h2{
    color: white;
    padding: 100px;
    
}
h1{
    color: white;

}
.abc{
    display: inline-block;
    border: 2px black solid;
    border-radius: 20px;
}
.one{
    color: black;

}
