*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    grid-auto-rows: minmax(77px, auto) ;
}

.block-nav{
   
    grid-column: 2/3;
    grid-row: 1/2;
    line-height: 77px;
    border-bottom:solid 1px  #828282 ;

}
li{
    list-style: none;
    height: 23px;
  width: 82px;
   left: 457px;
top: 23px;
border-radius: nullpx;
color: #828282;


}
.home{
    color: black;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-info{
     grid-column: 2/3;
     grid-row: 2/3;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
}
.info1{
    width: 124px;
    height: 117px;
  
}
h1{
    height: 117px;
width: 124px;
left: 251px;
top: 118px;
border-radius: nullpx;
margin-top: 15px;

}
h2{
    font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
letter-spacing: 0em;
text-align: left;


}
.h3{
    
}
.info2{
    width: 150px;
    height: 64px;

}
.info3{
    width: 124px;
    height: 44px;
    transform: rotate(-90dag)
}

.block-img{
    
    grid-column: 2/3;
    grid-row: 3/4;
}
.block-img>img{
    width: 1000px;
}

.block-about{
    background-color: #F6F6F6;
    grid-column: 1/4;
    grid-row: 4/5;
    text-align: center;
    line-height: 42px;
    left: 480px;
right:480px;
top: 119px;
bottom: 106px;
display: flex;
justify-content: center;
}
.about-item{
    width: 485px;
    text-align: center;
    margin: 110px;
}
h2{
    text-align: center;

}

.block-skills{
   
    grid-column: 2/3;
    grid-row: 5/6;
    text-align: center;

   
}
.tr{
   
    display: flex;
    justify-content: space-between;

}
.sk{
    width: 166px;
    height: 205px;
    
}
.block-contacts{
    background-color: azure;
    grid-column: 2/3;
    grid-row: 6/7;
    display: flex;
justify-content: center;
}
.send{
    border: black;
    border-radius: black 25%;
   
}
.footer{
    background-color: bisque;
    grid-column: 2/3;
    grid-row: 7/8;
    display: flex;
    justify-content: center;
    color: #828282;
    

}
